{% if site.theme_settings.email_address %}
<li>
	<a href="mailto:{{ site.theme_settings.email_address }}" target="_blank" title="{{ site.theme_settings.str_email }}">
		<i class="fa fa-fw fa-envelope"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.twitter %}
<li>
	<a href="https://twitter.com/{{ site.theme_settings.twitter }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Twitter">
		<i class="fab fa-fw fa-twitter"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.github %}
<li>
	<a href="https://github.com/{{ site.theme_settings.github }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} GitHub">
		<i class="fab fa-fw fa-github"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.gscholar %}
<li>
	<a href="{{ site.theme_settings.gscholar }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Google scholar">
		<i class="fa fa-fw fa-university"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.uwebsite %}
<li>
	<a href="{{ site.theme_settings.uwebsite }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} group's site">
		<i class="fas fa-fw fa-external-link-alt"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.linkedin %}
<li>
	<a href="https://www.linkedin.com/in/{{ site.theme_settings.linkedin }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} LinkedIn">
		<i class="fab fa-fw fa-linkedin"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.instagram %}
<li>
	<a href="http://instagram.com/{{ site.theme_settings.instagram }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Instagram">
		<i class="fab fa-fw fa-instagram"></i>
	</a>
</li>
{% endif %}

<! –– not using right now -->

{% if site.theme_settings.facebook %}
<li>
	<a href="https://www.facebook.com/{{ site.theme_settings.facebook }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Facebook">
		<i class="fa fa-fw fa-facebook"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.reddit %}
<li>
	<a href="https://www.reddit.com/user/{{ site.theme_settings.reddit }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Reddit">
		<i class="fa fa-fw fa-reddit"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.stack_exchange %}
<li>
	<a href="{{ site.theme_settings.stack_exchange }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} Stack Exchange">
		<i class="fa fa-fw fa-stack-exchange"></i>
	</a>
</li>
{% endif %}

{% if site.theme_settings.youtube %}
<li>
	<a href="https://www.youtube.com/user/{{ site.theme_settings.youtube }}" target="_blank" title="{{ site.theme_settings.str_follow_on }} YouTube">
		<i class="fa fa-fw fa-youtube"></i>
	</a>
</li>
{% endif %}
