.site-header {
  @extend %padding-small;
  background: $brand-color;
  border-top:5px solid $header-desc-background-color;
  display: inline-block;
  width: 100%;

  a {
    color: $header-link-color;
  }
  
  .site-title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
  }

  .site-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      line-height: 1.5;
      float: right;
      text-align: right;
    }
    li {
      display: inline;
      float: left;
      margin-left: 1.0em;
    }
    @media (max-width: 1100px) {
      ul {
        display: inline-block;
        float: left;
        padding-top: $padding-small;
        text-align: left;
        width: 100%;
      }
    }
  }
}
