// Typography
$font-family-main: 'EB Garamond', Helvetica, Arial, sans-serif;
$font-family-headings: 'EB Garamond', Georgia, serif, cursive; // Abril Fatface
$font-size: 1.0em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 1%;

// Brand colours
$brand-color: #fff;
$background-color: #fff;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #4a4a4a;
$link-color: #0070BB; //#000000; #0070BB
$button-color: #000000; //#000000; #0070BB

$selection-color: #D4D4D4; // visible when highlighting text

// Header colours
$header-link-color: #383838;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #0070BB;
$header-desc-text-color: #FFF;
